:root {
  --base-margin: 8px;
}

nav {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar__logo img {
  margin-left: var(--base-margin);
  width: 8vh;
  height: 10vh;
}

.navbar__menu {
  list-style: none;
  display: flex;
}
