:root {
  /*Margin*/
  --base-margin: 12px;

  /* color*/
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-lime: #c1ff72;
  --color-purple: #8c52ff;
  --color-violet: #cb6ce6;
  --color-lightblue: #5ce1e6;
  --color-turkey: #0097b2;
  --color-skyblue: #0cc0df;

  /*Font size*/
  --font-large: 36px;
  --font-medium: 24px;
  --font-regular: 16px;
  --font-small: 12px;

  /*Font weight*/
  --weight-bold: 900;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Typography */
h1 {
  font-size: var(--font-large);
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--base-margin);
  padding-right: var(--base-margin);
}

.navbar__logo img {
  margin-left: var(--base-margin);
  width: 8vh;
  height: 10vh;
}

.navbar__menu {
  list-style: none;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani),
    url(https://cur.cursors-4u.net/nature/nat-10/nat927.png), auto;
  display: flex;
  margin-right: var(--base-margin);
}

.navbar__menu__item {
  margin: var(--base-margin);
  padding: var(--base-margin);
  border-radius: 5px;
}

.navbar__menu__item:hover {
  background-color: var(--color-violet);
}

.navbar__menu__item.active {
  background-color: var(--color-lime);
}

#about {
  text-align: center;
  margin-top: 10vh;
  height: 90vh;
}

#about h1 {
  width: 68%;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.about__description {
  font-size: large;
}

.about__contury {
  font-size: medium;
}

.about__contact {
  background-color: var(--color-lightblue);
  border: 1px solid var(--color-skyblue);
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-weight: var(--weight-bold);
  font-size: large;
  color: var(--color-black);
}

.about__contact:hover {
  background-color: var(--color-lime);
  border: 1px solid var(--color-skyblue);
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-weight: var(--weight-bold);
  font-size: large;
  color: var(--color-black);
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani),
    url(https://cur.cursors-4u.net/nature/nat-10/nat927.png), auto;
}

.skills__container {
  display: flex;
  flex-direction: column-reverse;
}

.skill {
  width: 30vw;
  display: inline-block;
  margin: 0px;
}

.skill__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skill__logo {
  width: 64px;
  height: 64px;
}
